<div class="top-menu">
  <div class="scrollUp"><a id="upButton" ng-click="scrollToPlace('#topOfPage')"><i class="fa fa-arrow-up"></i></a></div>
  <div class="menuChoices">

    <!-- <a id="homeButton" ui-sref="home" ng-click="scrollToPlace('#pp1')">My Home</a> -->
    <a id="homeButton" ui-sref="home" ng-view=>About Me</a>
    <a id="skillsButton" ui-sref="mySkills()">Skills</a>
    <a id="portfolioButton" ui-sref="myPortfolio()">Portfolio</a>
    <a id="myThoughtsButton" ui-sref="myThoughts()">Thoughts</a>
    <a id="callMeButton" ui-sref="callMe()">Call me</a>
  </div>
</div>








<!-- <a id="profileButton" ui-sref="home" ng-click="scrollToPlace('#pp2')">Profile</a> -->
<!-- <a id="myThoughtsButton" ui-sref="blog()">Blog</a> -->
